*{
    margin: 0;
    padding: 0;
}

.navbar a{
    padding-left: 10px;
    font-size: 26px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.sobre-nós{
    background-color: #1e2224;
}

.padding{
    padding: 150px 0;
}

.padding h2{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: white;
}

.padding p{
    font-family: 'Lato', sans-serif;
    color: white;
}