*{
    margin: 0;
    padding: 0;
}

.navbar a{
    padding-left: 10px;
    font-size: 26px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.sobre-nós{
    background-color: #212529;
}

.padding{
    padding: 150px 0;
}

.padding h2{
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: white;
}

.padding p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
}

.botao{
    margin-top: 20px;
}

.footer{
    text-align: center;
    width: 100%;
    height: 129px;
    background-color: #212529;
}

